<div class="templateName"> addArtist </div>

<div>
  <h2>Look Up a New Artist to Add:</h2>
  <form action="/addArtist" method="post"> 
      <div>
        <h4>Artist or Band Name:</h4>
        <input type="textarea" name="artist" value="">
      </div>
<!--       <div>
        <h4>Picture: </h4>
        <input type="file" name="picture" value="">
      </div> -->
<!--       <div>
      	<h4>Additional Artist Information:
        <h5>Detail 1: </h4>
        <textarea name="detailName1" rows="1" cols="40"></textarea>
        <textarea name="detailDescription1" rows="3" cols="40"></textarea>

        <h5>Detail 2: </h4>
        <textarea name="detailName2" rows="1" cols="40"></textarea>
        <textarea name="detailDescription2" rows="3" cols="40"></textarea>

        <h5>Detail 3: </h4>
        <textarea name="detailName3" rows="1" cols="40"></textarea>
        <textarea name="detailDescription4" rows="3" cols="40"></textarea>

        <h5>Detail 4: </h4>
        <textarea name="detailName3" rows="1" cols="40"></textarea>
        <textarea name="detailDescription4" rows="3" cols="40"></textarea>
      </div>
      <div>
        <h4>Add up to 4 Songs Inititally: (you can add more in the artist detail view)...
        <h5>Song Name: </h4>
        <textarea name="song1" rows="1" cols="40"></textarea>

        <h5>Song Name: </h4>
        <textarea name="song2" rows="1" cols="40"></textarea>

        <h5>Song Name: </h4>
        <textarea name="song3" rows="1" cols="40"></textarea>

        <h5>Song Name: </h4>
        <textarea name="song4" rows="1" cols="40"></textarea>
      </div> -->
      <div>
        <button type="submit" name="submit">Search and Add</button>
      </div>
  </form>
</div>