<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tunr</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/styles.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i|Raleway:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
  <div class="clearfix">
    <h1>Tunr</h1>
    <nav>
      <ul>
        <li><a href="/">View All Artists</a></li>
        <li><a href="/songs">View All Songs</a></li>
        <li><a href="/addArtist">Add a New Artist</a></li>
      </ul>
    <nav>
  </div>

  {{{ body }}}

  <footer>
    <p>Created by GA Students, AA 2016.</p>
  </footer>

<!-- <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/main.js"></script>

</body>
</html>
